[Desktop Entry]
Name=LightDM WebKit Greeter
Comment=Greeter for LightDM
Exec=lightdm-webkit-greeter
Type=Application
X-Ubuntu-Gettext-Domain=web-greeter
